.color-orange {
	 color: #e97900;
}


/* ---- Alignments ---- */

.centered{float: none; margin: auto;}
.left {float: left;}
.right {float: right;}

/*text algins*/
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-mayusc{ text-transform: uppercase;}
.text-minus{ text-transform: lowercase;}
.text-none{ text-transform: none!important; }
.text-bold{  font-weight: bold!important;}
.bold{font-weight: bold;}

/*font size*/
.text-min{ font-size:10px;}
.text-sm{ font-size:12px;}
.text-sm-md{ font-size:14.5px;}
.text-md{ font-size:14px;}
.text-ml{ font-size:15px;}
.text-lg{ font-size:16px;}
.text-xlg{ font-size:18px;}
.text-xxlg{ font-size:20px;}

.fs-xs{ font-size:.50em;}
.fs-sm{ font-size:0.75em;}
.fs-md{ font-size:.875em;}
.fs-lg{ font-size:1.375em;}

.fs-1x{ font-size:1em;}
.fs-1x-xs{ font-size:1.25em;}
.fs-1x-md{ font-size:1.50em;}
.fs-1x-lg{ font-size:1.75em;}
.fs-2x{ font-size:2em;}
.fs-2x-xs{ font-size:2.25em;}
.fs-2x-md{ font-size:2.5em;}
.fs-2x-lg{ font-size:2.75em;}
.fs-3x{ font-size:3em;}
.fs-3x-xs{ font-size:3.25em;}
.fs-3x-md{ font-size:3.50em;}
.fs-3x-lg{ font-size:3.75em;}
.fs-4x{ font-size:4em;}
.fs-4x-xs{ font-size:4.25em;}
.fs-4x-md{ font-size:4.50em;}
.fs-4x-lg{ font-size:4.75em;}
.fs-5x{ font-size:5em;}

/* margins */
.margin-all {margin: 20px;}
.margin-top {margin-top: 20px;}
.margin-bot {margin-bottom: 20px;}
.margin-left {margin-left: 20px;}
.margin-right {margin-right: 20px;}
.margin-h {margin: 20px 0 ;}
.margin-v {margin: 0 20px;}
.margin-none {margin: 0;}

.margin-min-all {margin: 5px;}
.margin-min-top {margin-top: 5px;}
.margin-min-bot {margin-bottom: 5px;}
.margin-min-left {margin-left: 5px;}
.margin-min-right {margin-right: 5px;}
.margin-min-h {margin: 5px 0 ;}
.margin-min-v {margin: 0 5px;}

.margin-sm-all {margin: 10px;}
.margin-sm-top {margin-top: 10px;}
.margin-sm-bot {margin-bottom: 10px;}
.margin-sm-left {margin-left: 10px;}
.margin-sm-right {margin-right: 10px;}
.margin-sm-h {margin: 10px 0 ;}
.margin-sm-v {margin: 0 10px;}

.margin-md-all {margin: 30px;}
.margin-md-top {margin-top: 30px;}
.margin-md-bot {margin-bottom: 30px;}
.margin-md-left {margin-left: 30px;}
.margin-md-right {margin-right: 30px;}
.margin-md-h {margin: 30px 0 ;}
.margin-md-v {margin: 0 30px;}

.margin-lg-all {margin: 40px;}
.margin-lg-top {margin-top: 40px;}
.margin-lg-bot {margin-bottom: 40px;}
.margin-lg-left {margin-left: 40px;}
.margin-lg-right {margin-right: 40px;}
.margin-lg-h {margin: 40px 0 ;}
.margin-lg-v {margin: 0 40px;}

/* paddings*/
.padd-all {padding-top: 20px;}
.padd-top {padding-top: 20px;}
.padd-bot {padding-bottom: 20px;}
.padd-left {padding-left: 20px;}
.padd-right {padding-right: 20px;}
.padd-h {padding: 20px 0;}
.padd-v {padding: 0 20px;}
.padd-tp-bt {padding-top:  20px;padding-bottom:  20px;}
.padd-lf-rg {padding-right:  20px;padding-left:  20px;}
.padd-none{padding: 0;}

.padd-min-all {padding: 5px;}
.padd-min-top {padding-top: 5px;}
.padd-min-bot {padding-bottom: 5px;}
.padd-min-left {padding-left: 5px;}
.padd-min-right {padding-right: 5px;}
.padd-min-h {padding: 5px 0;}
.padd-min-v {padding: 0 5px;}
.padd-min-tp-bt {padding-top:  5px;padding-bottom:  5px;}
.padd-min-lf-rg {padding-right:  5px;padding-left:  5px;}

.padd-sm-all {padding-top: 10px;}
.padd-sm-top {padding-top: 10px;}
.padd-sm-bot {padding-bottom: 10px;}
.padd-sm-left {padding-left: 10px;}
.padd-sm-right {padding-right: 10px;}
.padd-sm-h {padding: 10px 0;}
.padd-sm-v {padding: 0 10px;}
.padd-sm-tp-bt {padding-top:  10px;padding-bottom:  10px;}
.padd-sm-lf-rg {padding-right:  10px;padding-left:  10px;}

.padd-md-all {padding-top: 30px;}
.padd-md-top {padding-top: 30px;}
.padd-md-bot {padding-bottom: 30px;}
.padd-md-left {padding-left: 30px;}
.padd-md-right {padding-right: 30px;}
.padd-md-h {padding: 30px 0;}
.padd-md-v {padding: 0 30px;}
.padd-md-tp-bt {padding-top:  30px;padding-bottom:  30px;}
.padd-md-lf-rg {padding-right:  30px;padding-left:  30px;}

.padd-lg-all {padding-top: 40px;}
.padd-lg-top {padding-top: 40px;}
.padd-lg-bot {padding-bottom: 40px;}
.padd-lg-left {padding-left: 40px;}
.padd-lg-right {padding-right: 40px;}
.padd-lg-h {padding: 40px 0;}
.padd-lg-v {padding: 0 40px;}
.padd-lg-tp-bt {padding-top:  40px;padding-bottom:  40px;}
.padd-lg-lf-rg {padding-right:  40px;padding-left:  40px;}


.show{display: block;}
.hide{display: none;}
.inline{display: inline-block;}


.clear{ clear: both;}
.boder-none{ border: none;}
.bg-none{ background-color: transparent!important;}

/*
*/

.img-productos{
	min-height:180px;
	max-height: 200px
}

.member-inner .profile {
	min-height: 250px ;
	height: 250px
}